@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mileage Calculator</h1>
    <h3>Take me to the <a asp-controller="Mileage" asp-action="MileageForm">Mileage</a> form.</h3>
</div>
